// Variables

// Fonts
$Arsenal: 'Arsenal', sans-serif;


// Colors
$text: #333333;
$light: #1f627f;
$link: #1f627f;


// Media
$med: "only screen and (min-width : 48rem)";
$lrg: "only screen and (min-width : 60rem)";
